<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Professores</title>
</head>
<body>
<table border="1" cellpadding="10">
<tr><td style="font-weight: bold;">Exibir Professores Cadastrados
    </td>

<td><a href="/listarProfessores">Clique Aqui</a></td>
</tr>
    <tr>
        <td rowspan="3">Consultar Titulação</td>
        <td><a href="/consultarPorTitulacao/1">1 (especialização)</a></td>
    </tr>
    <tr><td><a href="/consultarPorTitulacao/2">2 (mestrado)</a></td></tr>
    <tr><td><a href="/consultarPorTitulacao/3">3 (doutorado)</a></td></tr>
    <tr><td>Consultar apenas Ciência da Computação</td>
    <td><a href="/consultarApenasComputacao">Clique Aqui</a></td></tr>
</table>

</body>
</html>